@import './partials/common';
@import './partials/reset';
@import './partials/variables';
@import './partials/utilities';


/*LAYOUT*/

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: orange;
    width: 100%;
    position: fixed;
    height: 40px;
    z-index: 1;
}

header .container {
    margin-top: 9px;
    color: white;
}


main .container {
    padding-top: 55px;
}

footer {
    background-color: rgb(40, 40, 40);
    height: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(100%/3);
}

.content {
    margin: 10px;
}

.content .main-image {
    width: 100%;
    display: block;
}

/*FINE LAYOUT*/

.hover-image {
    width: 100%;
    display: none;
}

.col-33:hover .hover-image {
    display: block;
}

.col-33:hover .main-image {
    display: none;
}

.labels {
    position: absolute;
    bottom: 80px;
}

.label {

    font-size: 0.85em;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
}

.red-label {
    background-color: red;
}

.green-label {
    background-color: green;
}

.brand {
    font-size: 0.75em;
}

.clothes-name {
    font-weight: bold;
}

.prices {
    font-size: 0.80em;
}

.discount-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
}

.logo {
    width: 100px;
    height: auto;
}